{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Reservation form for guest</title>
  
    
</head>
<body>
    <div style="width:100%;height:7vh;margin-top:0px; background-color:#0f3446;padding-top:20px;padding-bottom:20px;display:flex;justify-content:center;align-items:center;">
        <center><h1 class="heading" style="text-align: center; font-weight:bolder;color:white;margin-left:0px;">Sayaw Reservation Form</h1></center>
    </div>
  
    {% if success_msg %}
        <div class="container-fluid w-100 vh-75  mt-5" id="confirmation-box">
            <div class="container-fluid w-100 vh-100 bg-light mt-5 border border  rounded" id="thankyou-msg" style="text-align:center;">
                <h1>Thank you for choosing  Sayaw Beach Resort</h1>
                <h1>as your favorite destination</h1><br><br>
                <p class="fs-3  ">We appreciate your interest! Your booking will be processed shortly.</p>
                <p class="fs-3">Top your transaction code to copy and use it to check your booking status.</p>
                <p class="fs-3">Make sure to deposit 50% of your bill as a down payment to avoid your booking status pending.</p>
                <br><br>
                <h1><span class="p-3 w-20 position-absolute top-80 start-50 translate-middle" style="background-color:lightgray; border:0.60px solid green; width:150px;border-radius:4px;" id="transaction_code">{{transaction_code}}</span></h1>
                <br>
                <br>
                <br><br>
                <a class="p-4 text-white rounded bg-success fs-3 nav-link no-underline position-absolute top-90 start-50 translate-middle mt-5 border border-info " href="{% url "reservation_App:code_verification" %}" >Proceed to payment</a>
            </div>
        </div>
    {% else %}
    
        <form action="{% url "reservation_App:room_booking_process" %}" method="POST" id="form" class="d-flex justify-content-center align-items-center w-100 vh-">
            {% csrf_token %}
            <div class="container-fluid d-flex bg-light">
          
            <div class="w-50 place-item-center">
                <label for="inputName" class="col-sm-2 col-form-label w-100 p-3 fs-5">Guest Name:</label>
                <input type="text" name="firstname" class="form-control w-100 p-3 fs-5" id="inputName" placeholder="Enter Name" required>
                <label for="inputAddress" class="col-sm-3 col-form-label w-100 p-3 fs-5">Guest Lastname:</label>
                <input type="text" name="lastname" class="form-control w-100 p-3 fs-5" id="inputName" placeholder="Enter Lastname" required>
                <label for="inputRemarks" class="col-sm-3 col-form-label w-100 p-3 fs-5">Guest Address:</label>
                <input type="text" name="address" class="form-control w-100 p-3 fs-5" id="inputName" placeholder="Enter Address" required>
                <label for="formGroupExampleInput" class="form-label w-100 p-3 fs-5">No. of Guest:</label>
                <input type="number" name="guest_no" class="form-control w-100 p-3 fs-5" id="inputName" placeholder="Enter the Number" required>
                <label for="inputName" style="width:30%" class="col-sm-3 col-form-label w-100 p-3 fs-5">Date In:</label>
                <input type="text" name="date_in" class="form-control w-100 p-3 fs-5" id="inputName " placeholder="Select your date" onfocus="this.type='date'" onblur="this.type='text'" required>
                <label for="inputName" style="width:30%" class="col-sm-3 col-form-label w-100 p-3 fs-5">Date Out:</label>
                <input type="text" name="date_out" class="form-control w-100 p-3 fs-5" id="inputName " placeholder="Select your date" onfocus="this.type='date'" onblur="this.type='text'" required>
                <label for="inputName" style="width:30%" class="col-sm-3 col-form-label w-100 p-3 fs-5">Stay Duration:</label>
                <input type="number" name="duration" class="form-control w-100 p-3 fs-5" id="inputName" required placeholder="Days to stay">
                <label for="inputName" style="width:30%" class="col-sm-3 col-form-label w-100 p-3 fs-5">Time In:</label>
                <input type="text" name="time_in" class="form-control w-100 p-3 fs-5" id="inputName" placeholder="Select Your Time" onfocus="this.type='time'" onblur="this.type='text'" required>
                <label for="inputName" style="width:30%" class="col-sm-3 col-form-label w-100 p-3 fs-5">Time Out:</label> 
                <input type="text" name="time_out" class="form-control w-100 p-3 fs-5" id="inputName" placeholder="Select Your Time" onfocus="this.type='time'" onblur="this.type='text'" required>    
            </div>

            <div class="w-50 place-item-center">
                <label for="" class="col-sm-3 col-form-label w-100 p-3 fs-5">Room number: </label>
                <input type="text" name="room_no" value="{{room.room_number}}" readonly class="form-control w-100 p-3 fs-5"  > 

                <label for="" class="col-sm-3 col-form-label w-100 p-3 fs-5">Gate number: </label>
                <input type="text" name="gate_no" value="{{room.gate_number}}" readonly class="form-control w-100 p-3 fs-5"  >
                
                <label for="" class="col-sm-3 col-form-label w-100 p-3 fs-5">Room price</label>
                <input type="text" name="room_price" value="{{room.room_price}}" readonly class="form-control w-100 p-3 bg-success text-white fs-5"  >

               
                {% comment %} <center><label for="inputName" id="val" name="room_price"  value="{{room.room_price}}" class="col-lg-2 col-form-label w-100 p-3 fs-5 border bg-success text-light">Room Price: <span>{{room.room_price}}</span></label></center><br><br> {% endcomment %}
                
               <center> <label for="inputName" class="mt-2 col-lg-2 col-form-label w-100 p-3 fs-5">Available Cottage</label></center>
                <select name="cottage" class="form-control p-3 fs-5">
                    <option value="" class="fs-5">Select Cottage</option>
                    {% for cottage in cottages %}
                        <option value="{{cottage.cottage_number}}">Cottage: {{cottage.cottage_number}}</option>
                    {% empty %}
                        <option value="">No Available Cottage</option>
                    {% endfor %}
                </select>
                <center><label for="formFile" class="form-label mt-4 p-3 fs-5">Payment gateway</label></center><br><br>
                <select name="payment_method" class="form-control p-3 mt-5 fs-5">
                    <option value="" selected disabled hidden>Choose here..</option>
                    <option value="Gcash">Gcash</option>
                    <option value="payMaya">payMaya</option>
                </select><br><br>
              <center>  <button id='btn' type="submit" class="btn btn-primary w-50 p-3 text-xl-center fs-5" >Reserve now</button></center>
            </div>    
            
        
        </form>
    </div>
    {% endif %}

 

    <script src="{% static 'js/reservation_form7.js' %}"></script>
</body>
</html>
