{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sayaw Beach Resort</title>
    <link rel="stylesheet" href="{% static 'css/view_room1.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <nav>
        <div class="nav-links">
            <a href="{% url "reservation_App:mainpage" %}">Home</a>
            <a href="#">Reservation</a>
            <a href="#">Track Booking</a>
            <a href="#">About Sayaw Beach</a>
        </div>
        <div class="user-icon">
            <i class="fa-solid fa-user fa-lg" style="color: white;"></i><br>
            <a href="{% url 'reservation_App:login' %}">Admin Login</a>
        </div>
    </nav>

    <main>
      <br><br><br><br>
       
        <div class="room-storage">
            {% for room in all_rooms %}
                <div class="room-box">
                    <a href="{% url 'reservation_App:view_photos' room.id %}">
                        <img class="room-image" src="{{ room.front_view.url }}" alt="Room View">
                    </a>
                    <div class="room-details">
                        <div class="link-box">
                        
                                <a class="link" href="{% url 'reservation_App:room_booking_view' room.id %}"><button class="book-now">Book now</button></a>
                           
                        </div>
                        <span class="service-status">
                            {% if room.is_availlable %}
                                <div class="available-box"><label class="available">Available</label></div>
                            {% else %}
                                <div class="occupied-box"><label class="occupied">Occupied</label></div>
                            {% endif %}
                        </span>
                        <p class="room-number">Room number <span>{{ room.room_number }}</span></p>
                        <p class="room-price">Room Price: <span>{{ room.room_price }}</span> (24 hours)</p>
                        <p class="room-description">{{ room.room_description }}</p>
                    </div>
                   
                </div>
            {% endfor %}
        </div>

        <div class="room-storage">
            {% for cottage in all_cottages %}
                <div class="room-box">
                    <a href="">
                        <img class="room-image" src="{{ cottage.front_view.url }}" alt="Room View">
                    </a>
                    <div class="room-details">
                        <div class="link-box">
                        
                                <a class="link" href="{% url "reservation_App:cottage_booking" cottage.id%}"><button class="book-now">Book now</button></a>
                           
                        </div>
                        <span class="service-status">
                            {% if cottage.is_availlable %}
                                <div class="available-box"><label class="available">Available</label></div>
                            {% else %}
                                <div class="occupied-box"><label class="occupied">Occupied</label></div>
                            {% endif %}
                        </span>
                        <p class="room-number">Cottage number <span>{{ cottage.cottage_number }}</span></p>
                        <p class="room-price">Cottage Price: <span>{{ cottage.cottage_price }}</span> (24 hours)</p>
                        <p class="room-description">{{ cottage.cottage_description }}</p>
                    </div>
                   
                </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>

    <script src="{% static 'js/mainpage.js' %}"></script>
</body>
</html>
