{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Sayaw Beach Resort</title>
    <link rel="stylesheet" href="{% static "css/view_photos5.css"%}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>

<div class="swiper-container" >
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img data-id="{{room_view.id}}" src="{{room_view.front_view.url}}" alt=""></div>
        <div class="swiper-slide"><img src="{{room_view.inside_view1.url}}" alt=""></div>
        <div class="swiper-slide"><img src="{{room_view.inside_view2.url}}" alt=""></div>
        <div class="swiper-slide"><img src="{{room_view.inside_view3.url}}" alt=""></div>
        
    </div>

    
  
</div>
{% if room_view.is_availlable %}
<center><p style="color:green;">Avallable</p></center>
{% else %}
<center><p style="color:red;">Occupied</p></center>
{% endif %}
<center><p>Room number: {{room_view.room_number}}</p></center>
<center><p> Gate number: {{room_view.gate_number}}</p></center>
<center><p>Room price: {{room_view.room_price}}</p></center>
<center><p>Description: {{room_view.room_description}}</p></center><br>
</body>
</html>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,

            // If you need pagination
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    });
</script>
